.row-cont {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.row {
    height: calc(100vh - 2*var(--title-height));
    overflow-y: auto;
}

.row:not(:first-child) {
    border-left: 1px solid var(--foreground);
}


@media only screen and (max-width: 700px) {
    .row-cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .row {
        height: auto !important;
        border: none !important;
    }

    .monitor {
        display: none;
    }

    main {
        min-height: calc(100vh - 2*var(--title-height));
        border-left: 1px solid var(--foreground);
        border-right: 1px solid var(--foreground);
    }
}

.section-head {
    position: relative;
    padding: 5px 30px 5px 10px;
    font-size: var(--large);
    font-weight: 300;
    border: none;
    cursor: pointer;
}

.section-head:hover {
    font-style: italic;
}

.section .section-head::after {
    content: '\e5ce';
    font: normal 300 24px "Material Symbols Outlined";
    position: absolute;
    top: 4px;
    right: 6px;
}

.section.collapsed .section-head::after {
    content: '\e5cf';
}

.section.collapsed .section-head {
    border-bottom: 1px solid var(--foreground);
}

.section-content {
    padding: 8px 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid var(--foreground);
}

.section.collapsed .section-content {
    display: none;
}

/* time text */

.time-text,
.tmz-text {
    font-size: var(--medium);
}

.time-text::before,
.tmz-text::before {
    font: normal 200 30px "Material Symbols Outlined";
    vertical-align: -8px;
    padding-right: 5px;
}

.time-text::before {
    content: '\e8b5';
}

.tmz-text::before {
    content: '\e55c';
}

/* contact form */

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px;
}

.contact-form input {
    font-size: var(--medium);
    font-weight: 400;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--foreground);
    color: var(--foreground);
    background: transparent;
}

.contact-form input::placeholder {
    text-transform: uppercase;
    color: var(--foreground);
    opacity: 0.7;
    font-size: 20px;
}

.contact-form input:focus {
    outline: none;
}

.contact-form input:focus::placeholder {
    color: transparent;
}

.submit-btn {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

    width: min(50%, 200px);
    margin-top: 10px;
    margin-left: auto;

    border: none;
    color: var(--foreground);
    background: transparent;
    border: 1px solid var(--foreground);
    user-select: none;
    cursor: pointer;
}

.submit-btn:active {
    font-weight: 500;
    color: var(--background);
    background: var(--foreground);
}

.section-head.date-time::after {
    content: '' !important;
}

.tools .section-content {
    display: flex;
    gap: 10px;
}

@media (max-width: 500px) {
    .tools .section-content {
        flex-direction: column;
    }

    .tools .section-content ul:first-child {
        padding-bottom: 20px;
        border: none !important;
    }
}

.tools .section-content p {
    margin-bottom: 10px;
}

.tools .section-content li {
    margin: 2px 8px;
    list-style: none;
}

.tools .section-content li:hover {
    font-style: italic;
}

.tools .section-content li::before {
    content: '○ ';
}

.footnote {
    padding: 10px 20px;
    font-size: 12px;
}