* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

:root {
    --title-height: 38px;
    --title-fontsize: 18px;

    --normal: 18px;
    --medium: 20px;
    --large: 22px;

    --foreground: #e8e8e8;
    --background: #1b1b1b;
    --highlight: #67b0ff;
}

::selection {
    color: var(--background);
    background: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    line-height: 1.6;
}

header,
footer {
    position: fixed;
    height: var(--title-height);
    width: 100%;
    background: var(--background);
    padding: 5px 10px;
    z-index: 10;
}

header {
    top: 0;
    border-bottom: 1px solid var(--foreground);
}

footer {
    bottom: 0;
    border-top: 1px solid var(--foreground);
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dashed var(--highlight);
}

.title {
    font-size: var(--title-fontsize);
}

main {
    margin: var(--title-height) 0;
}

.monitor {
    position: absolute;
    left: calc(50vw - 300px);
    top: 200px;
    width: 300px;

    background: var(--background);
    outline: 1px solid var(--foreground);
    z-index: 20;
    user-select: none;
}

.monitor-head {
    cursor: move;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 2px 5px;
    outline: 1px solid var(--foreground);
}

.monitor-content {
    font-size: 12px;
    height: fit-content;
}

.monitor-content img {
    width: 100%;
    vertical-align: bottom;
}

.minimized {
    position: fixed;
    top: auto;
    left: auto;
    right: 10px;
    width: 300px;
    bottom: var(--title-height);
}

.minimized .monitor-content {
    display: none;
}

.minimize-btn {
    cursor: pointer;
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    background: var(--foreground);
    color: var(--background);

    height: 100%;
    width: 20px;
    transition: 200ms;
}

.minimized .monitor-head {
    cursor: pointer;
}

.minimized .minimize-btn::after {
    content: '+';
}

.minimize-btn::after {
    content: '-';
}

::-webkit-scrollbar {
    width: 10px;
    outline: 1px solid var(--foreground);
}

::-webkit-scrollbar-thumb {
    background: var(--foreground);
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-right: 7px;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}

.footer-marquee {
    width: calc(100% - 100px);
    user-select: none;
}

footer>* {
    display: inline-block;
}

.links a svg {
    height: calc(var(--title-fontsize) + 2px);
    margin-top: -6px;
    vertical-align: top;
    fill: var(--foreground);
}

.links a:hover{
    border: none;
}

.links {
    width: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    margin: 10px 0;
}
li{
    list-style: circle;
    margin: 0 0 0 15px;
}